@import "tailwindcss";

.poi-marker {
  background-color: white;
  padding: clamp(0.2rem, 0.5vw, 0.4rem);
  border-radius: 50%;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: clamp(28px, 6vw, 36px);
  width: clamp(28px, 6vw, 36px);
}

.hidden {
  display: none;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: Futura, Helvetica, Arial, sans-serif;
}

#map {
  width: 100%;
  height: 100%;
}

#mini-player {
  position: fixed;

  left: max(16px, env(safe-area-inset-left));
  right: max(16px, env(safe-area-inset-right));
  bottom: max(16px, env(safe-area-inset-bottom));

  /*
   * on desktop don't take full width;
   * TODO: make sure this doesnt conflict with ^
   */
  max-width: 500px;

  z-index: 1000;

  background: white;
  border-radius: 12px;
}

#mini-player-title {
  font-weight: bold;
  font-size: xx-large;
  margin: 1;
}

#mini-player-image {
  width: 60%;
}

#mini-player-close {
  height: 30px;
  width: 30px;
}

#mini-player-audio {
  background-color: #d4d4d4;
  border: #b7b7b7;
  border-style: solid;
  border-radius: 12px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: 2px;
}
